<% include ./partials/_head.ejs %>
  <body>
    <% include ./partials/_header.ejs %>
    <div class="container">
      <div class="row">
        <% if (user) { %>
          <a href="/urls/new" class="btn btn-outline-success">Create a new short Link</a>
          <table class="table" class="col-8 form">
            <thead>
              <tr>
                <th scope="col">Short URL</th>
                <th scope="col">Long URL</th>
                <th scope="col">Action</th>
                <th scope="col">Total Visits</th>
                <th scope="col">Unique Visitors</th>
                <th scope="col">Created At</th>
              </tr>
            </thead>
    
            <tbody>
              <!-- if user exist check url ownership -->
              <% for (url in urls){ %>
                <!-- check if this particular url is owned by this particular owner -->
                <% if (urls[url].userID === user.id){ %>
                  <tr>
                    <td>tinyApp.ca/u/<%= url%> <i class="fas fa-arrow-right"></i> </td>
                    <td><a href="#"><%= urls[url].longURL%> <i class="far fa-hand-pointer"></i></a></td>
                    <td>
                      <a href="/urls/<%= url%>"><i class="far fa-edit"></i> Edit</a>
                      <form method="POST" action="/urls/<%= url %>/delete?_method=DELETE" style="display:inline">
                        <button class="clear-link"><i class="far fa-trash-alt"></i> Delete</button>
                      </form>
                    </td>
                    <td><%= urls[url].visits %></td>
                    <td><%= urls[url].visitor.length%> <a href="/urls/<%= url %>/visitor">Details</a></td>
                    <td><%= urls[url].createdAt %></td>
                  </tr>
                <% } %>         
              <% } %>
              <!-- if no user, show info encourage user to login or register -->
            </tbody>
            </table>
        <% }else{ %>
          <div class="col-12 text-center">
              <div class="jumbotron">
                  <h1 class="display-4">Not Yet login ?</h1>
                  <p class="lead">Unfortunately, In order to use this app, you must login</p>
                  <hr class="my-4">
                  <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
                </div>
          </div>
        <% } %>
      </div>
    </div>
  </body>
</html>